[req]
distinguished_name=req_distinguished_name
req_extensions=req_ext
days=365
prompt=no
[req_distinguished_name]
C=IN
ST=Karnataka
L=Bengaluru
O=Oracle
OU=OracleBU
CN=some.example.com
[req_ext]
keyUsage=nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage=clientAuth, serverAuth
basicConstraints=CA:FALSE
subjectAltName=@alt_names
[alt_names]
IP.1=10.10.10.13
IP.2=10.10.10.14
IP.3=10.10.10.17
DNS.1=centos8-2.example.com
DNS.2=centos8-3.example.com
URI.1=urn:uuid:f81d4fae-7dec-11d0-a765-00a0c91e6bf6
URI.2=uriIdApiRoot1
URI.3=uriIdApiRoot2
